<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        td{
            padding: 5px;
        }
    </style>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <h1>Students</h1>
    <form action="" method="post">
        {% csrf_token %}
        <select name="course" >
        <option selected disabled>-----select course-------</option>
        {% for i in courses %}
        <option value="{{i}}">{{i}}</option>
        {% endfor %}
        </select>
        <input type="submit" value="search">
        <a href="../"><input type="button" value="clear"></a>
    </form>
     <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Age</th>
            <th>PhoneNumber</th>
            <th>Course</th>
            <th>Actions</th>
        </tr>
        {%  for i in stds %}
        <tr>
            <td>{{i.pk}}</td>
            <td>{{i.name}}</td>
            <td>{{i.email}}</td>
            <td>{{i.age}}</td>
            <td>{{i.phone}}</td>
            <td>{{i.cname}}</td>
            <td>
                <a href="../editStudents/{{i.pk}}">Edit</a>
                <a href="../deleteStudents/{{i.pk}}" onclick="return confirm('Are you sure do You Want to delete....?')">Delete</a>
            </td>
        </tr>
        {% endfor %}
        <tr></tr>
     </table>
     <a href="../addstudent"><button>Add student</button></a>

     <a href="../logout"><button>logout</button></a>
</body>
</html>